.title{
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    margin-bottom: 4em;
    color: white;
    text-align: center;
}
* {
    font-family: 'Playfair Display', serif;
    padding: 0 10px;
}
.box{
    /* height: 100px;
    width: 100%; */
    padding: 2rem 4rem;
    border-radius: 90px;
    box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.25);
}
#hexInput{
    font-size: 1.25rem;
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 90px;
    padding: .75rem;
    box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.25);
    margin-bottom:20px;

}
.sliderText{
    /* margin:40px; */
    margin-bottom:600px;
}
.body{
    background-color: rgb(6, 27, 31);
}
.content{
    font-size: 1.5rem;
    color: white;
}